:root {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  --put-primary: #ffb518;
  --get-primary: #2c9fc7;
  --post-primary: #9abf17;
  --delete-primary: #f92b37;
  --put-secondary: #ffb61879;
  --get-secondary: #2ca0c77d;
  --post-secondary: #9bbf1781;
  --delete-secondary: #f92b3580;
  --path-color: #46334f;
}
