:root {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  // header buttons
  --border-radius: 1.25rem;
  --border: solid 1px;
  --btn-padding-y: 0.56rem;
  --btn-padding-x: 1.56rem;
}
