$box-shadow: 1px 1px 4px rgb(135, 136, 139);
$item-color: rgb(245, 245, 245);
$item-color-hover: rgb(230, 238, 247);
$details-pinter-color: rgb(22, 36, 236);
$items-padding: 1rem;

.historyWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.historyList {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.historyItem {
  list-style: none;
  box-shadow: $box-shadow;
  padding: $items-padding;
  background-color: $item-color;
  width: fit-content;
  transition: transform 0.3s ease;
  &:hover {
    background-color: $item-color-hover;
  }
}

.historyDetailsPointer {
  color: $details-pinter-color;
  text-align: right;
  font-size: small;
}

.historyLink {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.historyDetails {
  position: absolute;
  right: 20%;
  top: 20%;
  box-shadow: $box-shadow;
  background-color: $item-color;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.detailsList {
  display: flex;
  flex-direction: column;
}

.detailsItem {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #fff;
    cursor: pointer;
  }
}

.detailsButton {
  width: fit-content;

  align-self: flex-end;
  padding: rem(8px) rem(18px);
  border: rem(2px) solid #000;
  border-radius: rem(5px);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background: var(--button-secondary-hover);
    background-color: #fff;
  }
}
