$sign-in-btn-color: #2c9fc7;
$sign-up-btn-color: #9abf17;
$sign-out-btn-color: #46334f;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1.55rem;
  position: sticky;
  top: 0;
  z-index: 5;
  backdrop-filter: blur(15px);
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.headerButtons {
  display: flex;
  justify-content: space-between;
  gap: 1.06rem;
}

.button {
  text-decoration: none;
  border-radius: var(--border-radius);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border: var(--border);
}

.signInButton {
  color: $sign-in-btn-color;
  border-color: $sign-in-btn-color;
}

.signUpButton {
  color: $sign-up-btn-color;
  border-color: $sign-up-btn-color;
}

.signOutButton {
  color: white;
  border-color: $sign-out-btn-color;
  background-color: $sign-out-btn-color;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.navLeft,
.navRight {
  display: flex;
  gap: 2rem;
  align-items: center;
}
