$sign-in-btn-color: #2c9fc7;
$sign-up-btn-color: #9abf17;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.headerNav {
}

.headerButtons {
  display: flex;
  justify-content: space-between;
  gap: 1.06rem;
}

.button {
  border-radius: var(--border-radius);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border: var(--border);
}

.signInButton {
  color: $sign-in-btn-color;
  border-color: $sign-in-btn-color;
}

.signUpButton {
  color: $sign-up-btn-color;
  border-color: $sign-up-btn-color;
}
