.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}
