@use '../../styles/variables';

%accordionHeader {
  display: flex;
  cursor: pointer;
  height: 35px;
}
%accordionBlocks {
  width: 100%;
}
.endpoints {
  display: flex;
  gap: 40px;
  flex-direction: column;
  width: 100%;
  .listOfGroups {
    .group {
      display: flex;
      flex-direction: column;
      margin: 10px;
      gap: 13px;
      hr {
        height: 1px;
        width: 100%;
        color: black;
      }
      .wapperStartPath {
        @extend %accordionHeader;
        @extend %accordionBlocks;
        display: flex;
        gap: 13px;
      }
      .endpointWapper {
        .endpoint {
          @extend %accordionHeader;
          @extend %accordionBlocks;
          justify-content: space-between;
          height: 62px;
          padding: 14px;
          border-radius: 10px;
          .methodPath {
            display: flex;
            align-items: center;
            gap: 10px;
            .method {
              width: 100px;
              height: 39px;
              justify-content: center;
              display: flex;
              color: white;
              border-radius: 5px;
              align-items: center;
            }
            .path {
              color: var(--path-color);
            }
          }
          &[data-selected='true'] .icon {
            transform: rotate(90deg);
          }
          &[data-method='get'] {
            background: var(--get-secondary);
            border-color: var(--get-primary);
            .icon {
              color: var(--get-primary);
            }
            .method {
              background: var(--get-primary);
            }
          }
        }
        /*   &[data-method='post'] {
            background: var(--post-secondary);
            border-color: var(--post-primary);
            .endpoint{
              border-color: var(--post-primary);
            }
            .icon {
              color: var(--post-primary);
            }
            .method {
              background: var(--post-primary);
            }
          }

          &[data-method='put'] {
            border-color: var(--put-primary);
            background: var(--put-secondary);
            .icon {
              color: var(--put-primary);
            }
            .method {
              background: var(--put-primary);
            }
          }

          &[data-method='delete'] {
            border-color: var(--delete-primary);

            background: var(--delete-secondary);
            .icon {
              color: var(--delete-primary);
            }
            .method {
              background: var(--delete-primary);
            }
          }
*/
      }
    }
  }
}
.endpointWapper {
  &[data-method='get'] {
    --accent-color: var(--get-primary);
    --background-color: var(--get-secondary);
  }

  &[data-method='post'] {
    --accent-color: var(--post-primary);
    --background-color: var(--post-secondary);
  }

  &[data-method='put'] {
    --accent-color: var(--put-primary);
    --background-color: var(--put-secondary);
  }

  &[data-method='delete'] {
    --accent-color: var(--delete-primary);
    --background-color: var(--delete-secondary);
  }
  background: var(--background-color);

  .endpoint {
    border: 2px solid;
    border-color: var(--accent-color);

    background: var(--background-color);
    .icon {
      color: var(--accent-color);
    }
    .method {
      background: var(--accent-color);
    }
  }
}
